{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for messag in messages %}
            <script> alert("{{ messag }}"); </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<li><span>{{ message|safe }}</span></li>

<form class="form-container" method="post">
    Имя:<input class="form-field" type="text" name="name"><br>
    Отчество:<input class="form-field" type="text" name="patronymic"><br>
    Фамилия:<input class="form-field" type="text" name="surename"><br>
    <input class="button" type="submit" value="Add">
</form>
